*{
    margin: 0;
    padding: 0;
}
.clearfix:before,
.clearfix:after{
    display: table;
    content:"";
}
.clearfix:after{
    clear: both;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}

/* 公共部分顶部导航栏 */
#top_banner{
    width: 1080px;
    margin:0px auto;
    padding:8px 0px;
}
#top_banner ul{
    line-height: 51px;
    display: inline-block;
    margin-left: 10px;
}
#top_banner ul li{
    width: 100px;
    float: left;
    text-align: center;
}
#top_banner ul li a{
    color: black;
}
#top_banner ul li a:hover{
    color: red;
}
#search_register{
    float: right;
    line-height: 51px;
    padding:0px 20px;
    box-sizing: border-box;
}
#search{
    margin-right: 25px;
    vertical-align: middle;
    cursor: pointer;
}
#register{
    background-color:transparent;
    padding: 5px 5px;
    border: 1px solid #F66964;
    color:#F66964;
    cursor: pointer;
}
/* 内容部分 */
.guid-content{
    background-color:#F7F7F7;
    padding-top: 2px;
}
.guid-title{
    margin-top:5px;
    background-color:white;
}
.guid-title h1{
    text-align: center;
    font-weight: 400;
    line-height:120px;
}
.title{
    width: max-content;
    margin:0 auto;
}
.zuixin,
.zuire{
    cursor: pointer;
    float:left;
    width: 180px;
    line-height:50px;
    text-align: center;
    margin-right: 30px;
}
.border-bottom{
    color:red;
    border-bottom:3px solid red;
}
.content{
    margin: 0 auto;
    width: 1080px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.content li{
    width: 245px;
    height: 245px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    float: left;
    border-radius:8px;
    overflow: hidden;
    position: relative;
}
.content li .img_{
    width: 245px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content li p{
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size:14px;
}
.like,
.words{
    font-size:13px;
}
.like-word{
    position:absolute;
    right: 10px;
    bottom: 20px;
}
.like-img,
.words-img{
    width:13px;
    vertical-align:middle;
}

/* 公共部分底部 */
.bottom-max{
    width: 100%;
    background-color:#505050;
    padding-top:30px;
    padding-bottom:100px;
    position: relative;
}
.bottom{
    width: 1080px;
    height: max-content;
    margin:0 auto;
    font-size: 15px;
}
.bottom a{
    color: #a3a3a3;
}
#bottom-left,
#bottom-middle,
#bottom-right{
    float: left;
}
#bottom-middle{
    width: 173px;
    margin-left: 15px;
}
#bottom-middle p{
    color:#A0A3A7;
}
#bottom-middle p:nth-of-type(1){
    margin: 20px 0;
}
#bottom-right{
    margin-left: 18px;
}
.bottom-right-dl{
    float: left;
    margin-right: 18px;
}
.bottom-right-dl dt{
    color: #EAE9DD;
    margin-bottom: 20px;
}
.bottom-right-dl-left{
    float: left;
    margin-right: 18px;
}
.bottom-right-dl-right{
    float: right;
    margin-top: 40px;
}
.banquan{
    position:absolute;
    bottom:10px;
    left: 50%;
    transform: translateX(-50%);
    color:#A0A3A7;
}
.back{
    float: right;
    margin-right: 160px;
    cursor: pointer;
    background-color:#E8E8E8;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    position: relative;
}
.back img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}